{erl_opts, [debug_info]}.

{deps, [
        {cowboy, "2.6.1"},
        {erlydtl, "0.12.1"},
        {uuid_erl, "1.7.5"},
        {sync, "0.1.3"},
        {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {branch, "master"}}},
        {jhn_stdlib, {git, "https://github.com/JanHenryNystrom/jhn_stdlib.git", {branch, "master"}}}
       ]}.
