{erl_opts, [debug_info]}.

{deps, [
    {lfe, {git, "http://github.com/rvirding/lfe", {branch, "develop"}}},
    {logjam, {git, "https://github.com/lfex/logjam", {branch, "release/1.0.x"}}},
    {nova, "0.6.2"}
]}.

{plugins, [
    {rebar3_lfe, {git, "http://github.com/lfe-rebar3/rebar3_lfe", {branch, "release/0.3.x"}}},
    rebar3_auto
]}.

{provider_hooks, [
    {pre, [{compile, 'make-routes'},
           {compile, {lfe, compile}}]}
]}.
  
{relx, [{release, {'{{name}}', "0.1.0"},
         [sasl,
          lfe,
          logjam,
          '{{name}}']},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{alias, [
    {'make-routes', [
        {lfe, confabulate, "--path=priv/*routes.lfe"}]}
]}.