%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.
{src_dirs, ["src", "src/controllers"]}.
{shell, [{config, "./config/sys.config"}]}.

{deps, [
        {nova, "0.5.2"}
       ]}.


%% Release profiles
%% To create a release just run
%% rebar3 release -n {{name}}-prod
{relx, [{release, {"{{name}}-dev", "0.1.0"},
         [{{name}}],
         [{dev_mode, true},
          {include_erts, false},
          {extended_start_script, true}]},
        {release, {"{{name}}-prod", "0.1.0"},
         [{{name}}],
         [{dev_mode, false},
          {include_erts, true},
          {extended_start_script, true}]}
       ]}.


%% Plugins for rebar3
{plugins, [
           rebar3_auto
          ]}.
