%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.
{src_dirs, ["src", "src/controllers"]}.
{shell, [{config, "./config/dev_sys.config"}]}.

{erlydtl_opts, [{doc_root, "src/views"},
                {recursive, true},
                {libraries, [
                             {nova_erlydtl_inventory, nova_erlydtl_inventory}
                            ]},
                {default_libraries, [nova_erlydtl_inventory]}
               ]}.

{deps, [
        nova
       ]}.


%% Release profiles
%% To create a release just run
%% rebar3 release -n {{name}}-prod
{relx, [{release, {"{{name}}-dev", "0.1.0"},
         [{{name}}],
         [{dev_mode, true},
          {include_erts, false},
          {sys_config, "./config/dev_sys.config"},
          {extended_start_script, true}]},
        {release, {"{{name}}-prod", "0.1.0"},
         [{{name}}],
         [{dev_mode, false},
          {include_erts, true},
          {sys_config, "./config/prod_sys.config"},
          {extended_start_script, true}]}
       ]}.


%% Plugins for rebar3
{plugins, [
           {rebar3_nova_serve, {git, "https://github.com/novaframework/rebar3-nova-serve.git", {branch, "master"}}},
           {rebar3_erlydtl_plugin, ".*",
            {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
          ]}.

{provider_hooks, [
                  {pre, [{compile, {erlydtl, compile}}]}
                 ]}.
