%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

[
 {

 {kernel, [
           {logger_level, debug}
          ]},
 {nova, [
         {cowboy_configuration, #{
                                  port => 8080
                                 }},
         {dev_mode, true},
         {bootstrap_application, {{name}}}, %% Bootstraps the application
         {plugins, [
                   ]}
        ]}
  %% Please change your app.src-file instead if you intend to add app-specific configurations
].
