%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
[
 {kernel, [
           {logger_level, debug}
          ]},
 {nova, [
         {cowboy_configuration, #{
                                  port => 8080
                                 }},
         {dev_mode, true}
        ]},
 {{{name}}, [
             {nova_applications, [
                                  {{name}}
                                 ]}]}
].
