[
 {{{name}}, [{web_port, 8080},
             {nova_applications, [
                                  #{
                                    name => {{name}},
                                    routes_file => "priv/{{name}}.routes.erl"
                                   }
                                 ]}]}
].
