{erl_opts, [debug_info]}.
{src_dirs, ["src", "src/controllers"]}.

{deps, [
        {nova, {git, "https://github.com/novaframework/nova.git", {branch, "master"}}}
       ]}.

{relx, [{release, {"{{name}}-dev", "0.1.0"},
         [{{name}}]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.