name: Build and test

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    name: Erlang/OTP ${{matrix.otp}} / rebar3 ${{matrix.rebar3}}
    strategy:
      fail-fast: false
      matrix:
        otp: ['24.1.3', '25.1.1', '26.1']
        rebar3: ['3.20.0']
    steps:
    - uses: actions/checkout@v2
    - uses: erlef/setup-beam@v1
      with:
        otp-version: ${{matrix.otp}}
        rebar3-version: ${{matrix.rebar3}}
        version-type: strict
    - name: Compile
      run: rebar3 compile
    - name: Run dialyzer
      run: rebar3 dialyzer
    - name: Run xref
      run: rebar3 xref
    - name: Run elvis
      run: rebar3 as lint lint
  validate:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
        - uses: amannn/action-semantic-pull-request@v5
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            types: |
              chore
              feat
              fix
              style
              test
        - name: Get Next Version
          if: github.ref == 'refs/heads/master'
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          id: semver
          uses: ietf-tools/semver-action@v1
          with:
            token: ${{ github.token }}
            branch: main
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        if: github.ref == 'refs/heads/master'
        uses: ncipollo/release-action@v1.12.0
        with:
          allowUpdates: true
          draft: false
          makeLatest: true
          name: ${{ steps.semver.outputs.next }}
          body: Changelog Contents
          token: ${{ github.token }}
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        if: github.ref == 'refs/heads/master'
        uses: actions/checkout@v3

      - name: Publish to Hex.pm
        if: github.ref == 'refs/heads/master'
        uses: erlangpack/github-action@v3
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
