name: Labeler
on: [pull_request_target]

jobs:
  label:
    runs-on: ubuntu-latest
    continue-on-error: true
    permissions:
      contents: read
      pull-requests: write

    steps:
    - uses: actions/labeler@v6
