on:
    workflow_call:
      inputs:
        branch:
          description: "Branch name"
          required: true
          type: string

jobs:
  run_nra:
    uses: novaframework/nova_request_app/.github/workflows/run_nra.yml@main
    with:
        nova_branch:  "${{ inputs.branch }}"